body {
    margin: 0;
    position: static;
    height: 100%;
    width: 100%;
    background: #f5f5f9;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
label {
    max-width: 100%;
    margin-bottom: 5px;
}

.container{
    width: 100% !important;
}

#contact-form_wrapper{
    border-top: 13px solid white;
}

.btn-primary{
    background-color: #286090 !important;
    border-color: #286090 !important;
}

.datepicker table tr td.active.active{
    background-color:#286090 !important;
}

/* .content-wrapper{
    margin-top: 6%;
} */

.h-100 {
    height: 100%!important;
}

.card {
    word-wrap: break-word;
    background-color: #fff;
    border: 0 solid #d9dee3;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
}

.card {
    background-clip: padding-box;
    box-shadow: 0 2px 6px 0 rgb(67 89 113 / 12%);
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.card {
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    border: 0 solid #d9dee3;
    border-radius: 0.5rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    position: relative;
}

.card-header {
    background-color: transparent;
    border-bottom: 0 solid #d9dee3;
    margin-bottom: 0;
    padding: 1.5rem;
    border-bottom: 1px solid #d9dee3;
}

.card-footer, .card-header {
    border-color: #d9dee3;
}

.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.card-header:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem;
    height: 300px;
    min-height: 100px;
    overflow: hidden;
    overflow-y: auto;
}

.m-0 {
    margin: 0!important;
}

html:not([dir=rtl]) .me-2 {
    margin-right: 0.5rem!important;
}
.card .card-header+.card-body, .card .card-header+.card-content>.card-body:first-of-type {
    padding-top: 0;
}

.p-0 {
    padding: 0!important;
}
.m-0 {
    margin: 0!important;
}

.pb-1 {
    padding-bottom: 0.25rem!important;
}

.mb-4 {
    margin-bottom: 1.5rem!important;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.flex-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}
.w-100 {
    width: 100%!important;
}

.gap-2 {
    gap: 0.5rem!important;
}

html:not([dir=rtl]) .me-2 {
    margin-right: 0.5rem!important;
}


.table>thead {
    vertical-align: bottom;
}

tbody, td, tfoot, th, thead, tr {
    border: 0 solid;
    border-color: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card .table {
    margin-bottom: 0;
}

.text-nowrap {
    white-space: nowrap!important;
}

.navbar-default{
    /* background-color: #2b4068;
    border-color: #2b4068; */
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    background-color: #fff;
}
.navbar-default .navbar-brand{
    color: white;
}

.navbar-nav{
    margin-left: 8%;
    margin-top: 5px;
}

.navbar-header .navbar-brand{
    font-size: 26px;
}

.fa-handshake-angle{
    margin: 0 10px 0 10px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color: white !important;
    color: #2b4068 !important;
}

.navbar-default .navbar-nav>li>a{
    color: white !important;
    color: #2b4068  !important;
}
.navbar-default .menu-ul-li>li>a{
    display: grid;
    text-align: center;
    align-content: center;
    font-size: 13px;
}
/* .navbar-default .seconday_ul>li>a{
    display: grid;
    text-align: center;
    align-content: center;
    font-size: 13px;
} */

.navbar-default .navbar-nav>li>a:hover{
    color: white;
}

.card-title{
    font-weight: bold;
}

.panel-default>.panel-heading {
    font-weight: bold;
    color: #333;
    background-color: #d2d8ff;
    border-color: #ddd;
    font-size: 15px;
}

.custom-scroll ::-webkit-scrollbar {
    width:6px;
    height: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.4);
}
.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #4f4595;
    box-shadow: inset 0 0 6px rgba(0,0,0,.5);
}

.wtHolder ::-webkit-scrollbar {
    width:6px;
    height: 8px;
}
.wtHolder::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.4);
}
.wtHolder::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #4f4595;
    box-shadow: inset 0 0 6px rgba(0,0,0,.5);
}

.handsontable td{
    vertical-align: middle;
}

/* .handsontable thead th:nth-child(even), */
.handsontable tbody tr:nth-child(odd) td {
  background-color: #dee2e6;
}

/* .handsontable .wtSpreader table.htCore tbody tr:nth-child(odd) td {
    background-color: #fff !important;
  } */

  .handsontable .wtSpreader table.htCore tbody tr td {
    background-color: #fff !important;
  }
.handsontable .htAutocompleteArrow{
    color: #2b4068 !important;
}

.handsontable th {
    background-color: white !important;
    color: black !important;
    font-weight: 500 !important;
    vertical-align: middle;
}

.remainderModal{
    background-color: #2b4068 !important;
    border-color: #2b4068 !important;
    float: right;
    margin-top: -6px;
    margin-right: -8px;
}

  #preloader {
      position:absolute;;
      top:0;
      left:0;
      width:100%;
      height:100%;    
      z-index: 1000;
      background-color:#fff;
  }
  #loader {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border-radius: 50%;
      border: 3px solid transparent;
      /* border-top-color: #9370DB; */
      /* -webkit-animation: spin 2s linear infinite; */
      /* animation: spin 2s linear infinite; */
      background-image: url('../image/loader.gif');
  }
  /* #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: orange;
      -webkit-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite;
  }
  #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #2b4068;
      -webkit-animation: spin 1.5s linear infinite;
      animation: spin 1.5s linear infinite;
  }
  @-webkit-keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  @keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  } */
  
.wtHolder .form-control{
    height: 11px;
    padding: 6px 12px;
    font-size: 14px;
    width: 95%;
    line-height: 1.42857143;
}

.alert{
    padding: 10px;
    text-align: center;

    /* display: flex;
    margin-top: 182px;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    color: #2b4068;
    z-index: 999;
    align-items: center;
    justify-content: center;
    text-align: center; */
}

.modal-dialog .popup-msg{
    left: 4px;
    position: absolute;
    top: 12px;
    width: 99%;
    z-index: 100;
}

.popup-msg{
    left: 15px;
    top: 64px;
    width: 98%;
    position: absolute;
    top: 60px;
    z-index: 100;

    /* left: 10px;
    left: 220px;
    top: 64px;
    width: 99%;
    width: 80%;
    position: absolute;
    top: 60px;
    z-index: 100;
    /* top: 60px; */
    /* z-index: 999; */ 
}

.handsontable thead th .relative{
    background-color: #525585;
    color: white;
    background-color: #ffffff;
    background-color: #ffffff;
    color: black;
    padding: 9px;
}
/* 
.handsontable thead th {
    /* border-top: 1px solid black !important;
    border-bottom: 1px solid black !important; */
    /*
} */

.handsontable thead th:first-child .relative{
    padding: 0px !important;
    background-color: white;
}

.float-right{
    float: right;
}

.navbar-badge {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 2px 4px;
    position: absolute;
    right: 10px;
    top: 3px;
}
.badge-warning {
    color: #1f2d3d;
    background-color: #ffc107;
}

.fa-bell{
    font-size: 20px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 13px;
}

.dropdown-header {
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    font-size: 1.2rem;
    color: black;
    white-space: nowrap;
    font-weight: 900;
}

.dropdown-footer, .dropdown-header {
    display: block;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

.dropdown-menu-lg .dropdown-item {
    padding: 0.5rem 1rem;
}

.dropdown-menu-lg {
    max-width: 300px;
    min-width: 280px;
    padding: 0;
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.dropdown-menu-lg .dropdown-divider {
    margin: 0;
}

.dropdown-menu-lg a{
    text-decoration: none;
}

.timeline {
    margin: 0 0 10px;
    padding: 0;
    position: relative;
}

.timeline::before {
    border-radius: 0.25rem;
    background-color: #dee2e6;
    bottom: 0;
    content: "";
    left: 31px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 4px;
}

.timeline>div {
    margin-bottom: 15px;
    margin-right: 10px;
    position: relative;
}
.timeline>div::after, .timeline>div::before {
    content: "";
    display: table;
}
.bg-red {
    background-color: #ffc107!important;
}
.bg-red, .bg-red>a {
    color: #fff!important;
}
.timeline>.time-label>span {
    border-radius: 4px;
    background-color: #fff;
    display: inline-block;
    font-weight: 600;
    padding: 5px;
}
.timeline>div::after, .timeline>div::before {
    content: "";
    display: table;
}
.timeline>div {
    margin-bottom: 15px;
    margin-right: 10px;
    position: relative;
}

.timeline>div::after, .timeline>div::before {
    content: "";
    display: table;
}

.timeline>div>.timeline-item {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 0.25rem;
    background-color: #fff;
    color: #495057;
    margin-left: 60px;
    margin-right: 15px;
    margin-top: 0;
    padding: 0;
    position: relative;
}

.timeline>div::after, .timeline>div::before {
    content: "";
    display: table;
}

.timeline>div>.timeline-item>.time {
    color: #999;
    float: right;
    font-size: 12px;
    padding: 10px;
}

.timeline>div>.timeline-item>.timeline-header {
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: #495057;
    font-size: 16px;
    line-height: 1.1;
    margin: 0;
    padding: 10px;
}

.timeline>div>.timeline-item>.timeline-body, .timeline>div>.timeline-item>.timeline-footer {
    padding: 10px;
}

.timeline>div>.timeline-item>.timeline-body, .timeline>div>.timeline-item>.timeline-footer {
    padding: 10px;
}

.timeline>div>.fa, .timeline>div>.fab, .timeline>div>.fad, .timeline>div>.fal, .timeline>div>.far, .timeline>div>.fas, .timeline>div>.ion, .timeline>div>.svg-inline--fa {
    background-color: #adb5bd;
    border-radius: 50%;
    font-size: 16px;
    height: 30px;
    left: 18px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
}

.filter-icon{
    background-color: #2b4068 !important;
    border-color: #2b4068 !important;
    float: right;
    margin-top: -6px;
    margin-right: 7px;
    line-height: 15px;
    height: 33px;
}

.icon-a{
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 20%;
    background-color: white;
    border: 1px solid white;
    
    background-color: #2b4068 !important;
    border: 1px solid #2b4068 !important;
}

.icon-a:hover{
    background-color: white !important;
    background-color: #2b4068 !important;
}
.app-icon{
    margin: 0;
    padding: 0;
    height: 43px;
    width: 45px;
    margin-top: 3px;
}

.navbar-header{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.fa-user-circle{
    font-size: 26px;
}

.user-profile{
    padding: 0 !important;
    margin: 0 !important;
    padding-top: 10px !important;
    margin-left: 20px;
}

.nav-item.dropdown.open .user-profile:hover{
    background-color: #2b4068;
    color: white;
    background-color: white !important;
    color: #2b4068 !important;
}

.nav-item.dropdown.open .user-profile{
    background-color: #2b4068;
    color: white;
    
    background-color: white !important;
    color: #2b4068 !important;
}

.reminder-section{
    margin-right: 10px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{   
    /* color: white;
    border-bottom: 2px solid white;
    background-color: #2b4068; */
    color: #2b4068 !important;
    background-color:white !important;
    border-radius: 5px;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 40%);
}

.handsontable thead TR:nth-child(1) {
    /* font-size: 1.5em; */
    /* font-weight: bold; */
    /* content: 'X' */
  }
  
  /* .handsontable thead TR:nth-child(1) TH:first-child:after {
    content: 'X'
  }
  .handsontable thead TR:nth-child(1) span.cornerHeader {
    line-height: 0 !important;
  } */

  .handsontable .manualColumnResizer.active, .handsontable .manualColumnResizer:hover, .handsontable .manualRowResizer.active, .handsontable .manualRowResizer:hover{
    background-color: #d2d8ff;
  }

  .contact-datefilter-div{
    margin-top: -7px;
    margin-right: 10px;
  }

  .daterangepicker .ranges li.active{
    background-color: #2b4068;
  }

  .btn-primary {
    background-color: #2b4068 !important;
    border-color: #2b4068 !important;
}

.daterangepicker td.active, .daterangepicker td.active:hover{
    background-color: #2b4068 !important;
    color: white;
}

.daterangepicker td.in-range{
    background-color: #e3ecff;
}

.no-data-msg{
    margin: 65px;font-size: 26px;
}

.navbar-nav>li>a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    line-height: 20px !important;
}

.navbar-nav>li>a>i.fa-fw {
    text-align: center;
    margin-left: 27%;
    font-size: 22px;
    margin-bottom: 5px;
}

.navbar-nav.ml-auto{
    margin-top: 12px;
} 

.nav-item.reminder-section{
    margin-top: 4px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    
    background-color: #ffffff;
    border: 1px solid #2b4068;
}

.contact-datefilter-div{
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

#contact-datefilter{
    border: 0px solid #2b4068;
    outline: 0px !important;
}

.contact-datefilter-div #datefilter{
    border: 0px solid #2b4068;
    outline: 0px !important;
}

.handsontable .htUIInput.htUIButtonOK input{
    background-color: #2b4068;
    border-color: #2b4068;
}

.handsontable .columnSorting.sortAction:hover{
    text-decoration: none;
}

.handsontable span.colHeader.columnSorting.sortAction:before{
    background-image: url('../image/sort.png');
    font-size: 17px;
    width: 25px;
    height: 18px;
    right: -16px;
}

/* .handsontable span.colHeader.columnSorting.sortAction:after{
    background-image: url('../image/sort.png');
} */


button.btn-modal{
    background-color: #2b4068 !important;
    border-color: #2b4068 !important;
    float: right;
    margin-top: -6px;
    margin-right: 8px;
}

.add_new_filter{
    margin-bottom:10px;
}

.filter-delete-row{
    cursor: pointer;
    padding-top: 10px;
}

/* .handsontable thead th:nth-child(4) .relative,
.handsontable thead th:nth-child(5) .relative,
.handsontable thead th:nth-child(6) .relative,
.handsontable thead th:nth-child(7) .relative,
.handsontable thead th:nth-child(8) .relative,
.handsontable thead th:nth-child(9) .relative{
    background-color: #afeae9 !important;
} */

.handsontable th.cyan-color .relative{
    background-color: #afeae9 !important;
}

.main-checkbox-input, .checkbox-input{
    cursor: pointer;
    margin-left: 5px !important;
}

#remainder_form .error {
    color: red;
}

.error {
    color: red;
}

table.htCore tbody tr td.listbox {
    /* border: 1px solid black !important; */
}
table.htCore tbody tr td.listbox:hover {
    font-weight: 700;
    background-color: #c0d6fb !important;
}
.txt-align-center{
    text-align: center;
}

.unregister-contct td{
    max-width: 0;
    overflow: hidden;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
    word-break: break-all;
}

/* 
.unregister-contct td::before{
    content: '&nbsp;';
    visibility: hidden;
} */

.unregister-contct td{
    /* width: 35% !important; */
}

.unregister-contct td:first-child{
    width: 70% !important;
}

.handsontable.listbox .ht_master table{
    border: 1px solid #475bbc;
}

.tracking-item .tracking-content{
    overflow: hidden;
    word-break: break-all;
}
.has-event .pika-button, .is-selected .pika-button{
    background: #2b4068;
    box-shadow: inset 0 1px 3px #2b4068;
}
.pika-button{
    color: #000;
    background: #fff;
}

.pika-table th{
    color: #000;
    background: #fff;
}

.pika-button:hover, .pika-row.pick-whole-week:hover .pika-button{
    color: #fff;
    background: #2b4068;
}

.pika-lendar{
    width:285px;
}

.alert-dismissable .close, .alert-dismissible .close{
    right: -6px;
    color: black;
}

.seconday_ul {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}

  
.seconday_ul li{
    border: 1px solid white;
}
.seconday_ul a {
    color: #2b4068;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}
  
.seconday_ul a:hover {background-color: #fff;}
  
.menu-ul-li li:hover .seconday_ul {display: block;}

.seconday_ul li>a>i{
    font-size: 20px;
    margin-right: 5px;
}

.selected-count{
    font-weight: 500;
}

.handsontableInputHolder .chosen-container{
    width: 300px !important;
    line-height: 34px !important;
}

.handsontableInputHolder .chosen-container-multi .chosen-choices li.search-choice{
    background-color: #fff;
    line-height: 20px;
    background-image: linear-gradient(#fff 20%,#fff 50%,#fff 52%,#fff 100%);
}

.handsontableInputHolder .chosen-container-multi .chosen-choices li.search-choice .search-choice-close{
    top: 8px;
}

.column-list-div .form-row{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { 
    border-radius: 20rem; 
}
.toggle.ios .toggle-handle {
    border-radius: 20rem; 
}

.toggle.ios{
    display: block;
}

.column-list-div .form-control{
    color: #000;
}

.chosen-container{
    min-width: 200px !important;
}

.nav-item.open .nav-link{
    background-color: #fff !important;
} 

.profile-div .dropdown-menu{
    margin-top: 15px !important;
    min-width: 148px;
}

.profile-div .dropdown-item{
    font-size: 14px;
}

.profile-div .dropdown-menu a{
    text-decoration: none;
}

.export-contact-modal{
    height: 50%;
    overflow: auto;
}

.export-contact-modal .toggle.btn {
    min-width: 100px !important;
    min-height: 34px !important;
}

.export-contact-modal{
    padding: 8px;
}

.navbar-brand.icon-a span small{
    vertical-align: bottom;
    font-size: 13px;
    font-family: cursive;
    margin-top: 20%;
}

.brand-logo small{
    vertical-align: bottom;
    font-size: 10px;
    font-family: cursive;
    margin-top: 20%;
}

.menu-toggle .brand-logo small{
    display: none;
}


.remainderModal .fa-bell{
    font-size: 14px;
}

.chosen-container .chosen-drop.chosen-top-auto {
    border-bottom: 0;
    border-top: 1px solid #aaa;
    top: auto;
    bottom: 40px;
}

.chosen-container .chosen-drop.chosen-top-noauto {
    border-bottom: 0;
    border-top: 1px solid #aaa;
    top: 40px;
    bottom: auto;
}

/* ---------------------------- */
/* .chosen-container .chosen-drop {
    border-bottom: 0;
    border-top: 1px solid #aaa;
    top: auto;
    bottom: 40px;
} */


/* 

.chosen-container .chosen-drop {
    border-bottom: 0;
    border-top: 1px solid #aaa;
    top: auto;
    bottom: 40px;
}

.chosen-container.chosen-with-drop .chosen-single {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    background-image: none;
}

.chosen-container.chosen-with-drop .chosen-drop {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    box-shadow: none;
    
    margin-bottom: -16px;
} */

.table-pagination-div .table_paginate,.table-pagination-div .tables_length{
    float: right;
}

.table-pagination-div .table_info {
    clear: both;
    float: left;
    padding-top: 0.755em;
}

.table-pagination-div .table_paginate{    
    float: right;
    text-align: right;
    padding-top: 0.25em;
}

.table-pagination-div .table_paginate .paginate_btn {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    border-radius: 2px;
    cursor: pointer;
    color: inherit !important;
    border: 1px solid transparent;
}

.table-pagination-div .table_paginate .paginate_btn{
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}

.table-pagination-div .table_paginate .paginate_btn.current{
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.table-pagination-div .tables_length select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    padding: 4px;
}
.table-pagination-div .tables_length{
    padding-top: 0.755em;
    color: #333;
    background-color: #fff;
}

.dropdown-menu.dropdown-menu-right{
    
    box-shadow: 0px 0px 10px rgb(120 130 140 / 13%);
    padding: 8px 0;
    min-width: 12.5rem;
    position: absolute;
    float: none;
}
.menu-toggle .nav-header{
    width: 5%;
}
.nav-header{
    width: 10%;
}

.nav-header {
    height: 6.3rem;
    display: inline-block;
    text-align: left;
    left: 0;
    top: 0;
    background-color: #343957;
    transition: all .2s ease;
    z-index: 999;
    position: fixed;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;    
}

.nav-header .brand-logo {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    color: #fff;
    text-decoration: none;
    padding-left: 1.25rem;
    font-weight: 700;
    padding-left: 0;
    padding-right: 0;
}

.nav-header .logo-abbr {
    max-width: 30px;    
    display: block;
}

img {
    vertical-align: middle;
    border-style: none;
}

.nav-control {
    cursor: pointer;
    position: absolute;
    right: -5.0625rem;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    font-size: 1.4rem;
    padding: 2px 0.5rem 0;
    border-radius: 2px;
}

.hamburger {
    display: inline-block;
    left: 0px;
    position: relative;
    top: 5px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: 37px;
    z-index: 999;
}

.hamburger .line {
    background: #343957;
    display: block;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger.is-active .line:nth-child(1), .hamburger.is-active .line:nth-child(3) {
    width: 10px;
    height: 2px;
}

.hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(4px) rotate(45deg);
    transform: translateY(4px) rotate(45deg);
}

.menu-toggle .nav-header .nav-control .hamburger .line {
    background-color: #343957 !important;
}

.hamburger.is-active .line:nth-child(2) {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    width: 22px;
    height: 2px;
}

.hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-4px) rotate(-45deg);
    transform: translateY(-4px) rotate(-45deg);
}

.quixnav{
    width: 10%;
}
.menu-toggle .quixnav{
    width: 5%;
}

.quixnav{
    padding-bottom: 112px;
    height: 100%;
    top: 6rem;
    padding-top: 0;
    z-index: 2;
    background-color: #343957;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    transition: all .2s ease;
    margin-top: 0;
    overflow: visible;
    position: absolute;
    left: 0px;
    height:100vh;
    position: fixed;
}

.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}
.quixnav .quixnav-scroll {
    position: relative;
    height: 100%;
}

.quixnav .quixnav-scroll {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.quixnav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-toggle .quixnav .metismenu > li {
    transition: all 0.4s ease-in-out;
}

.menu-toggle .quixnav .metismenu li {
    position: relative;
    border-top: 0.1px solid #23527c;
    border-bottom: 0.1px solid #23527c;
}

.quixnav .nav-label {
    margin: 0px 25px 0;
    padding: 1.5625rem 0 10px;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
}

.quixnav .quixnav-scroll {
    position: relative;
    height: 100%;
}

.quixnav .metismenu {
    display: flex;
    flex-direction: column;
}
.quixnav .metismenu a {
    position: relative;
    display: block;
    padding: 0.8125rem 1.25rem;
    outline-width: 0;
    color: #bdbdc7;
    text-decoration: none;
}
.quixnav .metismenu > li > a {
    color: #bdbdc7;    color: #fff;

}

.quixnav .metismenu > li a > i {
    font-size: 1.7rem;
    display: inline-block;
    vertical-align: middle;
    padding: 0 0.4375rem;
    font-weight: 700;
    position: relative;
}

.quixnav .metismenu > li:hover > a, .quixnav .metismenu > li:focus > a, .quixnav .metismenu > li.active > a {
    background-color: #6b51df;
    color: #fff;
    background-color: #fff;
    color: #23527c;
}

.quixnav .metismenu li a {
    padding: 23px;
}

.menu-toggle .quixnav .nav-text{
    display: none;
}

.nav-text{
    vertical-align: middle;
    margin-left: 7px;
    font-weight: 700;
}

#main-wrapper {
    opacity: 0;
    transition: all 0.25s ease-in;
    overflow: hidden;
    position: relative;
}

#main-wrapper.show {
    opacity: 1;
}

.header {
    height: 6.3rem;
    z-index: 1;
    position: relative;
    padding: 0rem;
    background-color: #fff;
    z-index: 3;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    padding-left: 10%;
    transition: all .2s ease;
    position: fixed;
    top: 0;
    width: 100%;
}

.header .header-content {
    height: 100%;
    padding-left: 5.3125rem;
    padding-right: 1.875rem;
    align-items: center;
    display: flex;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.header .navbar {
    padding: 0;
    height: 100%;
    width: 100%;
}

.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.collapse:not(.show) {
    display: none;
}
.header .justify-content-between {
    justify-content: right !important;
}


.header .navbar .navbar-collapse {
    height: 100%;
    width: 100%;
}

.navbar-expand .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}

.header-left {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-expand .navbar-nav {
    flex-direction: row;
}
.header-right {
    height: 100%;
}

.content-body {
    margin-left: 17.1875rem;
    z-index: 0;
    transition: all .2s ease;
}

.content-body {
    padding-top: 7rem;
     height: 100vh !important;

}
.menu-toggle .content-body {
    margin-left: 3.75rem;
    margin-left: 5%;
    padding-right: 80px;
}
.content-body {
    margin-left: 10%;
    padding-right: 10%;
}

.container-fluid {
    width: 100%;
    padding-right: 5px !important;
    padding-left: 10px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.content-body .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}

.nav-item a{
    color: #2b4068 !important;
}

.nav-item .user-profile span{
    font-weight: 500;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: #fff !important;
}

.nav-item.reminder-section .dropdown-menu.dropdown-menu-right{
    margin-top: 18px;
    min-width: 280px;
} 

