body {
    margin: 0;
    position: static;
    height: 100%;
    width: 100%;
    background: #f5f5f9;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
label {
    max-width: 100%;
    margin-bottom: 5px;
}

.container{
    width: 100% !important;
}

#contact-form_wrapper{
    border-top: 13px solid white;
}

.btn-primary{
    background-color: #286090 !important;
    border-color: #286090 !important;
}

.datepicker table tr td.active.active{
    background-color:#286090 !important;
}

.content-wrapper{
    margin-top: 6%;
}

.h-100 {
    height: 100%!important;
}

.card {
    word-wrap: break-word;
    background-color: #fff;
    border: 0 solid #d9dee3;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
}

.card {
    background-clip: padding-box;
    box-shadow: 0 2px 6px 0 rgb(67 89 113 / 12%);
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.card {
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    border: 0 solid #d9dee3;
    border-radius: 0.5rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    position: relative;
}

.card-header {
    background-color: transparent;
    border-bottom: 0 solid #d9dee3;
    margin-bottom: 0;
    padding: 1.5rem;
    border-bottom: 1px solid #d9dee3;
}

.card-footer, .card-header {
    border-color: #d9dee3;
}

.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.card-header:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem;
    height: 300px;
    min-height: 100px;
    overflow: hidden;
    overflow-y: scroll;
}

.m-0 {
    margin: 0!important;
}

html:not([dir=rtl]) .me-2 {
    margin-right: 0.5rem!important;
}
.card .card-header+.card-body, .card .card-header+.card-content>.card-body:first-of-type {
    padding-top: 0;
}

.p-0 {
    padding: 0!important;
}
.m-0 {
    margin: 0!important;
}

.pb-1 {
    padding-bottom: 0.25rem!important;
}

.mb-4 {
    margin-bottom: 1.5rem!important;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.flex-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}
.w-100 {
    width: 100%!important;
}

.gap-2 {
    gap: 0.5rem!important;
}

html:not([dir=rtl]) .me-2 {
    margin-right: 0.5rem!important;
}


.table>thead {
    vertical-align: bottom;
}

tbody, td, tfoot, th, thead, tr {
    border: 0 solid;
    border-color: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card .table {
    margin-bottom: 0;
}

.text-nowrap {
    white-space: nowrap!important;
}

.navbar-default{
    background-color: #2b4068;
    border-color: #2b4068;
}
.navbar-default .navbar-brand{
    color: white;
}

.navbar-nav{
    margin-left: 8%;
    margin-top: 5px;
}

.navbar-header .navbar-brand{
    font-size: 26px;
}

.fa-handshake-angle{
    margin: 0 10px 0 10px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color: white;
}

.navbar-default .navbar-nav>li>a{
    color: white;
}
.navbar-default .menu-ul-li>li>a{
    display: grid;
    text-align: center;
    align-content: center;
    font-size: 13px;
}

.navbar-default .navbar-nav>li>a:hover{
    color: white;
}

.card-title{
    font-weight: bold;
}

.panel-default>.panel-heading {
    font-weight: bold;
    color: #333;
    background-color: #d2d8ff;
    border-color: #ddd;
    font-size: 15px;
}

.custom-scroll ::-webkit-scrollbar {
    width:6px;
    height: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.4);
}
.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #4f4595;
    box-shadow: inset 0 0 6px rgba(0,0,0,.5);
}

.wtHolder ::-webkit-scrollbar {
    width:6px;
    height: 8px;
}
.wtHolder::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.4);
}
.wtHolder::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #4f4595;
    box-shadow: inset 0 0 6px rgba(0,0,0,.5);
}

.handsontable td{
    vertical-align: middle;
}

/* .handsontable thead th:nth-child(even), */
.handsontable tbody tr:nth-child(odd) td {
  background-color: #dee2e6;
}

/* .handsontable .wtSpreader table.htCore tbody tr:nth-child(odd) td {
    background-color: #fff !important;
  } */

  .handsontable .wtSpreader table.htCore tbody tr td {
    background-color: #fff !important;
  }
.handsontable .htAutocompleteArrow{
    color: #2b4068 !important;
}

.handsontable th {
    background-color: white !important;
    color: black !important;
    font-weight: 500 !important;
    vertical-align: middle;
}

.remainderModal{
    background-color: #2b4068 !important;
    border-color: #2b4068 !important;
    float: right;
    margin-top: -6px;
    margin-right: -8px;
}

  #preloader {
      position:absolute;;
      top:0;
      left:0;
      width:100%;
      height:100%;    
      z-index: 1000;
      background-color:#fff;
  }
  #loader {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border-radius: 50%;
      border: 3px solid transparent;
      /* border-top-color: #9370DB; */
      /* -webkit-animation: spin 2s linear infinite; */
      /* animation: spin 2s linear infinite; */
      background-image: url('../image/loader.gif');
  }
  /* #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: orange;
      -webkit-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite;
  }
  #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #2b4068;
      -webkit-animation: spin 1.5s linear infinite;
      animation: spin 1.5s linear infinite;
  }
  @-webkit-keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  @keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  } */
  
.wtHolder .form-control{
    height: 11px;
    padding: 6px 12px;
    font-size: 14px;
    width: 95%;
    line-height: 1.42857143;
}

.alert{
    padding: 10px;
    text-align: center;

    display: flex;
    margin-top: 182px;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    color: #2b4068;
    z-index: 999;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modal-dialog .popup-msg{
    left: 4px;
    position: absolute;
    top: 12px;
    width: 99%;
    z-index: 100;
}

.popup-msg{
    left: 10px;
    top: 64px;
    width: 99%;
    position: absolute;
    top: 60px;
    z-index: 100;

    left: 10px;
    left: 220px;
    top: 64px;
    width: 99%;
    width: 80%;
    position: absolute;
    top: 60px;
    z-index: 100;
    /* top: 60px; */
    z-index: 999;
}

.handsontable thead th .relative{
    background-color: #525585;
    color: white;
    background-color: #ffffff;
    color: black;
    padding: 9px;
}

.handsontable thead th {
    /* border-top: 1px solid black !important;
    border-bottom: 1px solid black !important; */
}

.handsontable thead th:first-child .relative{
    padding: 0px !important;
    background-color: white;
}

.float-right{
    float: right;
}

.navbar-badge {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 2px 4px;
    position: absolute;
    right: 10px;
    top: 3px;
}
.badge-warning {
    color: #1f2d3d;
    background-color: #ffc107;
}

.fa-bell{
    font-size: 20px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 13px;
}

.dropdown-header {
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    font-size: 1.2rem;
    color: black;
    white-space: nowrap;
    font-weight: 900;
}

.dropdown-footer, .dropdown-header {
    display: block;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

.dropdown-menu-lg .dropdown-item {
    padding: 0.5rem 1rem;
}

.dropdown-menu-lg {
    max-width: 300px;
    min-width: 280px;
    padding: 0;
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.dropdown-menu-lg .dropdown-divider {
    margin: 0;
}

.dropdown-menu-lg a{
    text-decoration: none;
}

.timeline {
    margin: 0 0 10px;
    padding: 0;
    position: relative;
}

.timeline::before {
    border-radius: 0.25rem;
    background-color: #dee2e6;
    bottom: 0;
    content: "";
    left: 31px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 4px;
}

.timeline>div {
    margin-bottom: 15px;
    margin-right: 10px;
    position: relative;
}
.timeline>div::after, .timeline>div::before {
    content: "";
    display: table;
}
.bg-red {
    background-color: #ffc107!important;
}
.bg-red, .bg-red>a {
    color: #fff!important;
}
.timeline>.time-label>span {
    border-radius: 4px;
    background-color: #fff;
    display: inline-block;
    font-weight: 600;
    padding: 5px;
}
.timeline>div::after, .timeline>div::before {
    content: "";
    display: table;
}
.timeline>div {
    margin-bottom: 15px;
    margin-right: 10px;
    position: relative;
}

.timeline>div::after, .timeline>div::before {
    content: "";
    display: table;
}

.timeline>div>.timeline-item {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 0.25rem;
    background-color: #fff;
    color: #495057;
    margin-left: 60px;
    margin-right: 15px;
    margin-top: 0;
    padding: 0;
    position: relative;
}

.timeline>div::after, .timeline>div::before {
    content: "";
    display: table;
}

.timeline>div>.timeline-item>.time {
    color: #999;
    float: right;
    font-size: 12px;
    padding: 10px;
}

.timeline>div>.timeline-item>.timeline-header {
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: #495057;
    font-size: 16px;
    line-height: 1.1;
    margin: 0;
    padding: 10px;
}

.timeline>div>.timeline-item>.timeline-body, .timeline>div>.timeline-item>.timeline-footer {
    padding: 10px;
}

.timeline>div>.timeline-item>.timeline-body, .timeline>div>.timeline-item>.timeline-footer {
    padding: 10px;
}

.timeline>div>.fa, .timeline>div>.fab, .timeline>div>.fad, .timeline>div>.fal, .timeline>div>.far, .timeline>div>.fas, .timeline>div>.ion, .timeline>div>.svg-inline--fa {
    background-color: #adb5bd;
    border-radius: 50%;
    font-size: 16px;
    height: 30px;
    left: 18px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
}

.filter-icon{
    background-color: #2b4068 !important;
    border-color: #2b4068 !important;
    float: right;
    margin-top: -6px;
    margin-right: 7px;
    line-height: 15px;
    height: 33px;
}

.icon-a{
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 20%;
    background-color: white;
    border: 1px solid white;
}
.app-icon{
    margin: 0;
    padding: 0;
    height: 43px;
    width: 45px;
    margin-top: 3px;
}

.navbar-header{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.fa-user-circle{
    font-size: 26px;
}

.user-profile{
    padding: 0 !important;
    margin: 0 !important;
    padding-top: 10px !important;
    margin-left: 20px;
}

.nav-item.dropdown.open .user-profile:hover{
    background-color: #2b4068;
    color: white;
}

.nav-item.dropdown.open .user-profile{
    background-color: #2b4068;
    color: white;
}

.reminder-section{
    margin-right: 10px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{   
    /* color: white;
    border-bottom: 2px solid white;
    background-color: #2b4068; */
    color: #2b4068;
    background-color:white;
    border-radius: 5px;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 40%);
}

.handsontable thead TR:nth-child(1) {
    /* font-size: 1.5em; */
    /* font-weight: bold; */
    /* content: 'X' */
  }
  
  /* .handsontable thead TR:nth-child(1) TH:first-child:after {
    content: 'X'
  }
  .handsontable thead TR:nth-child(1) span.cornerHeader {
    line-height: 0 !important;
  } */

  .handsontable .manualColumnResizer.active, .handsontable .manualColumnResizer:hover, .handsontable .manualRowResizer.active, .handsontable .manualRowResizer:hover{
    background-color: #d2d8ff;
  }

  .contact-datefilter-div{
    margin-top: -7px;
    margin-right: 10px;
  }

  .daterangepicker .ranges li.active{
    background-color: #2b4068;
  }

  .btn-primary {
    background-color: #2b4068 !important;
    border-color: #2b4068 !important;
}

.daterangepicker td.active, .daterangepicker td.active:hover{
    background-color: #2b4068;
}

.daterangepicker td.in-range{
    background-color: #e3ecff;
}

.no-data-msg{
    margin: 65px;font-size: 26px;
}

.navbar-nav>li>a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    line-height: 20px !important;
}

.navbar-nav>li>a>i.fa-fw {
    text-align: center;
    margin-left: 27%;
    font-size: 22px;
    margin-bottom: 5px;
}

.navbar-nav.ml-auto{
    margin-top: 12px;
} 

.nav-item.reminder-section{
    margin-top: 4px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    
    background-color: #ffffff;
    border: 1px solid #2b4068;
}

.contact-datefilter-div{
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

#contact-datefilter{
    border: 0px solid #2b4068;
    outline: 0px !important;
}

.contact-datefilter-div #datefilter{
    border: 0px solid #2b4068;
    outline: 0px !important;
}

.handsontable .htUIInput.htUIButtonOK input{
    background-color: #2b4068;
    border-color: #2b4068;
}

.handsontable .columnSorting.sortAction:hover{
    text-decoration: none;
}

.handsontable span.colHeader.columnSorting.sortAction:before{
    background-image: url('../image/sort.png');
    font-size: 17px;
    width: 25px;
    height: 18px;
    right: -16px;
}

/* .handsontable span.colHeader.columnSorting.sortAction:after{
    background-image: url('../image/sort.png');
} */


button.btn-modal{
    background-color: #2b4068 !important;
    border-color: #2b4068 !important;
    float: right;
    margin-top: -6px;
    margin-right: 8px;
}

.add_new_filter{
    margin-bottom:10px;
}

.filter-delete-row{
    cursor: pointer;
    padding-top: 10px;
}

.handsontable thead th:nth-child(4) .relative,
.handsontable thead th:nth-child(5) .relative,
.handsontable thead th:nth-child(6) .relative,
.handsontable thead th:nth-child(7) .relative,
.handsontable thead th:nth-child(8) .relative,
.handsontable thead th:nth-child(9) .relative{
    background-color: #afeae9 !important;
}

.main-checkbox-input, .checkbox-input{
    cursor: pointer;
}

#remainder_form .error {
    color: red;
}

.error {
    color: red;
}

table.htCore tbody tr td.listbox {
    /* border: 1px solid black !important; */
}
table.htCore tbody tr td.listbox:hover {
    font-weight: 700;
    background-color: #c0d6fb !important;
}
.txt-align-center{
    text-align: center;
}

.unregister-contct td{
    max-width: 0;
    overflow: hidden;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
    word-break: break-all;
}


.unregister-contct td::before{
    content: '&nbsp;';
    visibility: hidden;
}

.unregister-contct td{
    width: 50% !important;
}

.unregister-contct td:first-child{
    width: 50% !important;
}

.handsontable.listbox .ht_master table{
    border: 1px solid #475bbc;
}

.tracking-item .tracking-content{
    overflow: hidden;
    word-break: break-all;
}
.has-event .pika-button, .is-selected .pika-button{
    background: #2b4068;
    box-shadow: inset 0 1px 3px #2b4068;
}
.pika-button{
    color: #000;
    background: #fff;
}

.pika-table th{
    color: #000;
    background: #fff;
}

.pika-button:hover, .pika-row.pick-whole-week:hover .pika-button{
    color: #fff;
    background: #2b4068;
}

.pika-lendar{
    width:285px;
}