
body {
    margin: 0;
    position: static;
    height: 100%;
    width: 100%;
    background: #f5f5f9;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
label {
    max-width: 100%;
    margin-bottom: 5px;
}

.container{
    width: 92% !important;
    margin-left:6%;
}

#contact-form_wrapper{
    border-top: 13px solid white;
}

.btn-primary{
    background-color: #286090 !important;
    border-color: #286090 !important;
}

.datepicker table tr td.active.active{
    background-color:#286090 !important;
}

.content-wrapper{
    margin-top: 1%;
    margin-left:7%;
}

.h-100 {
    height: 200%!important;
}
.header ul#primary a.inactive{
    background : #ececec !important;
    border-radius: 9px 9px 7px 7px;
}

.header ul#primary a.active{
    background : #ececec !important;
    border-radius: 9px 9px 7px 7px;
}

.header ul#primary a.active{
    border-bottom-color : #6c94eb !important;
    color: white;
}
.nav-bar-top{
    background: #2b4068;
    margin-left: 169px;
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: center;
    height: 7vh;
    border-radius: 10px;
}
.htCore td{
    font-size: 16px;
    font-family: system-ui;
    font-weight: 500;
}
/* .htCore tr:hover{
     background-color: #ddd;

}
.htCore tr:nth-child(even){background-color: #f2f2f2;} */

.right-side-bar a:hover{
    color:white;
    background:#eeeeee;
}

.nav .open>a{
    background-color: #2b4068 !important;
}

#navbar-nav ul  a {
    /* background: white !important; */
    color: #ffffff;
    height: auto;
    position: relative;
    display: block;
    padding: 13px 15px;
    outline-width: 0;
    transition: all .3s ease-out;
    font-size: 16px;
    font-weight: 400;    text-decoration: none;
    

}

#navbar-nav ul  a.inactive {
  /* background: white !important; */
  color: #ffffff !important;
  height: auto;
  position: relative;
  display: block;
  padding: 13px 15px;
  outline-width: 0;
  transition: all .3s ease-out;
  font-size: 16px;
  font-weight: 400;  
    text-decoration: none;

}
/* 
#navbar-nav ul a.inactive:hover{
    margin: 0px !important;
    padding: 13px 15px;
    outline-width: 0;
    transition: all .3s ease-out;
    font-size: 16px;
    font-weight: 400;
    background-color: #495057;
    color:white;
  }
  #navbar-nav ul a.active:hover{
    margin: 0px !important;
    padding: 13px 15px;
    outline-width: 0;
    transition: all .3s ease-out;
    font-size: 16px;
    font-weight: 400;
  } */

.nav-bar-top .right-side-bar{
   
    /* margin: -15px; */
       /* margin: -15px; */
       color: white !important;
       font-size: 21px;
       font-family: system-ui;
       /* margin-right: -829px; */
       /* margin-bottom: -20px; */
       margin-top: -16px;
       margin-left: 900px;
       width: 274px;
}
.nav-bar-top a{
    color:#ffffff;
}

.nav-bar-top a:hover{
    color:#ffffff;
}
.card {
    /* word-wrap: break-word; */
    background-color: #fff;
    border: 0 solid #d9dee3;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    
}
.card-header{
    color: #2c125e;
    font-size: 34px !important;
    font-family: system-ui;
}

.card {
    background-clip: padding-box;
    box-shadow: 0 2px 6px 0 rgb(67 89 113 / 12%);
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.sidebar-nav{
    min-width: 5%;
    background: #fff;
    color: #fff;
    position: fixed;
    transition: all .3s;
    z-index: 999;
    height: 100%;
    width: 13.6%;
    width: 12%;
    height: 100vh;
    min-height: 60vh;
    max-height: 100vh;
    overflow: hidden;
    /* overflow-y: scroll; */
}

#headerBlock{
    height: 55px !important;
    width: 99%;
    position: fixed;
    z-index: 1030;
    background-color: #fb7fa1 !important;
    /* background: linear-gradient(90deg,transparent 59%,#8978fd 100%); */
    background-color: #f7aec2 !important;
    background-color: #f4f3ef !important;
    background-color: #4f4595 !important;
    /* background: linear-gradient(90deg,transparent 59%,#c7bff8 100%); */
}
#headerBlock div.topleft{
    color: #3e4754;
    margin-bottom: -5px;
    padding: 2px 3px 0px 5px;
    font: normal normal normal 11px Arial, Tahoma, sans-serif;
    float: left;
    text-align: right;
    background-color: white;
    width: 14%;
    width: 11%;
    height: 55px !important;
    background-color: #4f4595;
    background-color: white;
}
.profile-head
{
    width:90%;
}
.contents
{
    margin-left: -4px;
    /* margin: 78px; */
    /* background: #f4f3ef; */
    padding: 0px 0px 0 6px !important;
    /* border: 1px solid white; */
    padding-top: 0px;
    display: inline-block;
    width: 83% !important;
    /* float: right; */
    /* margin-left: 10px; */
    margin-left: 114px;
    margin-top: 61px;

}
.top-nav
{
    color: white;
    padding: 9px 3px 0px 5px;
    margin-right: 12px;
    width: 80% !important;
    width: calc(100% - 15%) !important;
    width: calc(100% - 12%) !important;
    color: black;
    height: 55px !important;
    /* box-shadow: 0px 10px 5px -5px rgb(206 203 225
}
.card {
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    border: 0 solid #d9dee3;
    border-radius: 0.5rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    position: relative;
}

.card-header {
    background-color: transparent;
    border-bottom: 0 solid #d9dee3;
    margin-bottom: 0;
    padding: 1.5rem;
    /* border-bottom: 1px solid #d9dee3; */
}
.content{
    font-size: 20px;
    padding: 17px;
    text-transform: uppercase;
    font-family: system-ui;
}
.content-block{
    font-size: 20px;
    color: #2c125e;
    padding: 10px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        justify-content: center;
        font-family: system-ui;
}
.data{
    font-size:23px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.card-footer, .card-header {
    border-color: #d9dee3;
}

.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.card-header:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
}
.card-title{
    font-size:20px;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem;
}

.m-0 {
    margin: 0!important;
}

html:not([dir=rtl]) .me-2 {
    margin-right: 0.5rem!important;
}
.card .card-header+.card-body, .card .card-header+.card-content>.card-body:first-of-type {
    padding-top: 0;
}

.p-0 {
    padding: 0!important;
}
.m-0 {
    margin: 0!important;
}

.pb-1 {
    padding-bottom: 0.25rem!important;
}

.mb-4 {
    margin-bottom: 1.5rem!important;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.flex-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}
.w-100 {
    width: 100%!important;
}

.gap-2 {
    gap: 0.5rem!important;
}

html:not([dir=rtl]) .me-2 {
    margin-right: 0.5rem!important;
}

.table{
    display: inline-table;
    align-items: center;
    justify-content: center;
    margin-left: 42px; 
}
.table>thead {
    vertical-align: bottom;
    /* color: #2c125e; */
    background: #2c125e;
    font-size: 16px;
    color: #ffffff;
}
.table .table-data td,tr,th
{
    justify-content: center;
    align-items: center;
    text-align: center;
}


tbody, td, tfoot, th, thead, tr {
    border: 0 solid;
    border-color: inherit;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.card .table {
    margin-bottom: 0;
}

.text-nowrap {
    white-space: nowrap!important;
}
#navbar{
    margin-left:-16px;
}



#navbar ul#primary a.active:hover{
    
    /* background-color: #e4e4e4 !important; */
    color:  #4f4595 !important;
    /* margin:0; */
}

#navbar ul#primary a.inactive:hover{
    
    /* background-color: #e4e4e4 !important; */
    color: #4f4595 !important;
    /* margin:0; */
}
.navbar #primary  {
    /* font-size: 24px; */
    display: flex;
    flex-direction: column;
    width: 100% !important;
    align-items: flex-start;
    /* float: left; */
    margin-right: 12px;
    line-height: 30px;
    text-align: center;
    color: rgba(255,255,255,.5);
    position: relative;
}
.navbar-nav ul#primary li a span {
    font-size: px;
    font-weight: 400;
    color: #948fb5 !important;
}
.navbar-nav ul#primary li a16{
    display: flex;
}

.navbar-default{
    background-color: #2b4068;
    border-color: #2b4068;
}
.navbar-default .navbar-brand{
    color: white;
}

.navbar-nav{
    margin-left: 8%;
    margin-top: 5px;
    color:blue;
}
.navbar-header{
    border-bottom: 1px solid #ffffff;
    width: 140px;

}
/* .active{
    color:#ffffff;
} */
.navbar-header .navbar-brand{
    font-size: 26px;

}

.fa-handshake-angle{
    margin: 0 10px 0 10px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color: white;
}

.navbar-default .navbar-nav>li>a{
    color: white;
    padding-top:13px !important;
}
/* .nav>li>a:hover {
    /* text-decoration: none; */
    /* background-color: #2b4068;
    color: #b7bce9 !important; */
    /* color: blue; 
}*/
.nav-item a:hover{
    background-color: #2b4068 !important;
    color: #b7bce9 !important;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #b7bce9;
    /* background-color: #ffffff; */
    /* background-color: #eff2f4; */
    /* margin: 0px !important;
    padding: 13px 15px;
    outline-width: 0; */
    transition: all .3s ease-out;
    font-size: 16px;
    font-weight: 400;
    BORDER-RADIUS:5PX;
   

}

.card-title{
    font-weight: bold;
}

.panel-default>.panel-heading {
    font-weight: bold;
    color: #fff;
    background-color: #2b4068;
    border-color: #ddd;
    font-size: 15px;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
}
.panel-body {
    padding: 15px;
    height: 81%;
}
#datatable{
    height: 532px !important;
    overflow: hidden !important;
    width: auto;
    margin-top:0%;
}
.custom-scroll ::-webkit-scrollbar {
    width:6px;
    height: 8px;
}
.wtHolder::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.4);
}
.wtHolder::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #4f4595;
    box-shadow: inset 0 0 6px rgba(0,0,0,.5);
}
.htCore
.handsontable td{
    vertical-align: middle;
}

/* .handsontable thead th:nth-child(even), */
.handsontable tbody tr:nth-child(odd) td {
  background-color: #dee2e6;
}

.handsontable .htAutocompleteArrow{
    color: #2b4068 !important;
}

.handsontable  td {
    border:none !important;
    margin-top:10px;
    /* height: 42px !important; */
}
.handsontable th {
    background-color: white !important;
    color: black !important;
    font-weight: 500 !important;
    vertical-align: middle;
}

 .remainderModal{
    background-color: #e7e8ea !important;
    border-color: #2b4068 !important;
    float: right;
    margin-top: -6px;
    margin-right: -8px;
    /* color: #ffffff; */
     color: #2b4608;
    font-size: 15px;

}
.remainderModal:hover{
    background: #ffffff !important;
    color:#000000 !important ;

}
  #preloader {
      position:absolute;;
      top:0;
      left:0;
      width:100%;
      height:100%;    
      z-index: 1000;
      background-color:#fff;
  }
  #loader {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #9370DB;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
  }
  #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: orange;
      -webkit-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite;
  }
  #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #2b4068;
      -webkit-animation: spin 1.5s linear infinite;
      animation: spin 1.5s linear infinite;
  }
  @-webkit-keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  @keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  
.wtHolder .form-control{
    height: 11px;
    padding: 6px 12px;
    font-size: 14px;
    width: 95%;
    line-height: 1.42857143;
}

.alert{
    display: flex;
    margin-top: 182px;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    color: #2b4068;
    z-index: 999;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.modal-dialog .popup-msg{
    left: 4px;
    position: absolute;
    top: 12px;
    width: 99%;
    z-index: 100;
}

.popup-msg{
    left: 220px;
    top: 64px;
    width: 80%;
    position: absolute;
    /* top: 60px; */
    z-index: 999;
}

.handsontable thead th .relative{
    background-color: #525585;
    color: white;
    padding: 9px;
}
.handsontable tbody{
    width: 100px !important;
    background: azure !important;
}

/* .handsontable thead th {
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
} */
.handsontable tr:hover{
    background: #2c125e !important ;
    color:#d53232;
}
.htItemWrapper{
    text-align: center;
    text-align: ce;
    /* background: #000000; */
    /* padding: 6px; */
    margin: 2px;
    display: inline-flex;
    /* background: #2b4068; */
    font-family: system-ui;
    font-weight: 500;
    margin-left: 19px;
    width: 152px;
    display: inline-block;
}
.htCore tbody,th,table{
    border:none !important;
}
.htCore tbody td {
    font-size: 15px;
    padding: 10px;
    /* height:27px; */
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
}
.htCore tbody tr td:hover{
    font-size: 14px;
    padding: 10px;
    height:27px;
    background:#2c125e;
    color:#ffffff;
    cursor:pointer;
}
/* .handsontable tbody tr:nth-child(even) td {
    background-color: #f3f5f7;
} */

.handsontable thead th:first-child .relative{
    padding: 0px !important;
    background-color: white;
}
.handsontable .columnSorting.sortAction:hover{
    text-decoration: none !important;
    transition: all 0.3s ease;
}
.handsontable .changeType {
    background: #525585;
    border-radius: 2px;
    border: 1px solid #525585;
    color: #f4f8fa;
    font-size: 11px;
    line-height: 9px;
    padding: 2px;
    margin: 3px 1px 0 5px;
    float: right;
}
.handsontable .changeType:hover{
    color:white !important;
    border:none !important;
}
/* .htItemWrapper:hover{
    color:#000000 !important;
} */
.float-right{
    float: right;
}
td:hover{
    background:#2b4068 !important;
    color:white !important;
}
td .htDisabled
{
    font-size:14px;
    /* color    :black !important; */
}
.htAutocompleteArrow:hover{
    color:#ffffff !important;
}
.navbar-badge {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 2px 4px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.badge-warning {
    color: #1f2d3d;
    background-color: #ffc107;
}

.fa-bell{
    font-size: 20px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 13px;
}

.dropdown-header {
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    font-size: 1.2rem;
    color: black;
    white-space: nowrap;
    font-weight: 900;
}

.dropdown-footer, .dropdown-header {
    display: block;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

.dropdown-menu-lg .dropdown-item {
    padding: 0.5rem 1rem;
}

.dropdown-menu-lg {
    max-width: 300px;
    min-width: 280px;
    padding: 0;
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.dropdown-menu-lg .dropdown-divider {
    margin: 0;
}

.dropdown-menu-lg a{
    text-decoration: none;
}

.timeline {
    margin: 0 0 10px;
    padding: 0;
    position: relative;
}

.timeline::before {
    border-radius: 0.25rem;
    background-color: #dee2e6;
    bottom: 0;
    content: "";
    left: 31px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 4px;
}

.timeline>div {
    margin-bottom: 15px;
    margin-right: 10px;
    position: relative;
}
.timeline>div::after, .timeline>div::before {
    content: "";
    display: table;
}
.bg-red {
    background-color: #ffc107!important;
}
.bg-red, .bg-red>a {
    color: #fff!important;
}
.timeline>.time-label>span {
    border-radius: 4px;
    background-color: #fff;
    display: inline-block;
    font-weight: 600;
    padding: 5px;
}
.timeline>div::after, .timeline>div::before {
    content: "";
    display: table;
}
.timeline>div {
    margin-bottom: 15px;
    margin-right: 10px;
    position: relative;
}

.timeline>div::after, .timeline>div::before {
    content: "";
    display: table;
}

.timeline>div>.timeline-item {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 0.25rem;
    background-color: #fff;
    color: #495057;
    margin-left: 60px;
    margin-right: 15px;
    margin-top: 0;
    padding: 0;
    position: relative;
}

.timeline>div::after, .timeline>div::before {
    content: "";
    display: table;
}

.timeline>div>.timeline-item>.time {
    color: #999;
    float: right;
    font-size: 12px;
    padding: 10px;
}

.timeline>div>.timeline-item>.timeline-header {
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: #495057;
    font-size: 16px;
    line-height: 1.1;
    margin: 0;
    padding: 10px;
}

.timeline>div>.timeline-item>.timeline-body, .timeline>div>.timeline-item>.timeline-footer {
    padding: 10px;
}

.timeline>div>.timeline-item>.timeline-body, .timeline>div>.timeline-item>.timeline-footer {
    padding: 10px;
}

.timeline>div>.fa, .timeline>div>.fab, .timeline>div>.fad, .timeline>div>.fal, .timeline>div>.far, .timeline>div>.fas, .timeline>div>.ion, .timeline>div>.svg-inline--fa {
    background-color: #adb5bd;
    border-radius: 50%;
    font-size: 16px;
    height: 30px;
    left: 18px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px;
}

.filter-icon{
    background-color: #2b4068 !important;
    border-color: #2b4068 !important;
    float: right;
    margin-top: -6px;
    margin-right: 7px;
    line-height: 15px;
    height: 33px;
}

.icon-a{
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 50%;
    border: 1px solid white;
}
.app-icon{
    margin: 0;
    padding: 0;
    height: 43px;
    width: 45px;
    margin-top: 3px;
}

.navbar-header{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.fa-user-circle{
    font-size: 26px;
}

.user-profile{
    padding: 0 !important;
    margin: 0 !important;
    padding-top: 10px !important;
    margin-left: 20px;
}

.reminder-section{
    margin-right: 10px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{   
    color: white;
    /* border-bottom: 2px solid white; */
    background-color: #2b4068;
}

.handsontable thead TR:nth-child(1) {
    /* font-size: 1.5em; */
    /* font-weight: bold; */
    /* content: 'X' */
  }
  
  .handsontable thead TR:nth-child(1) TH:first-child:after {
    content: 'X';
  }
  .handsontable thead TR:nth-child(1) span.cornerHeader {
    line-height: 0 !important;
  }
