body{
  
  font-family: Lato,sans-serif;
  color: #888;
  font-size: 14px;
  line-height: 1.42857143;
}

div#background-branding-container {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition-property: opacity;
  transition-duration: 1s;
}
img {
  border: 0;
}

img {
  vertical-align: middle;
}

img#login-background-image {
  position: fixed;
  width: 100%;
  height: 100%;
}

div#background-branding-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  opacity: 1;
  background: #f7f7f7 no-repeat top left fixed;
}
.login-container {
  background: #fff;
  position: fixed;
  right: 0;
  float: right;
  height: 100%;
  width: 500px;
  margin: 0;
  padding: 0;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
}

#login-container {
  display: none;
  border-left: 1px solid #fff;
}

.login-container-layout {
  margin: 0 auto;
  text-align: left;
}

#login-container-center {
  width: 400px;
  height: 100%;
  min-height: 100%;
  margin: 0;
  display: inline-block;
  padding: 0;
  border: 0;
}

.login-form-container {
  min-height: 100%;
  width: 100%;
  margin-bottom: -50px;
}

.credentials-container {
  padding-top: 90px;
  height: 100%;
  padding-left: 0;
  width: 100%;
  display: inline-block;
  position: relative;
}

.logo {
    max-height: 80px;
    max-width: 300px;
}

.spacer {
  padding-top: 60px;
  transition: padding .6s;
}

@media only screen and (max-height: 820px), (max-device-height: 820px){
.spacer {
    padding-top: 30px;
    
    padding-top: 0px;
}
}
@media only screen and (max-height: 600px), (max-device-height: 600px)
{.spacer {
    padding-top: 10px;
    
    padding-top: 0px;
}
}

@media only screen and (max-height: 575px), (max-device-height: 575px)
{.spacer {
    padding-top: 0;
}
}

.login-heading {
  color: #000;
  font-weight: 500;
  font-size: 18px;

}

.login-heading+p {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.login-container .external-login-button-container {
  margin-top: 5px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-login {
  display: block;
  margin-bottom: 15px;
  min-width: 200px;
  text-align: left;
}

.login-container .external-login-button-container .btn {
  background-color: #ee3a00;
  border-color: #ee3a00;
  background-color: #7d799b;
  border-color: #7d799b;
  padding: 10px;
  margin-right: 15px;
}


.btn-keka-login {
  background-color: #58ae38!important;
  border-color: #58ae38!important;
  background-color: #d6a141 !important;
  border-color: #d6a141 !important;
}

.login-instructions {
  margin-top: 20px;
  margin-bottom: 20px;
}

.clear-side-padding {
  padding-left: 0;
  padding-right: 0;
}
.footer-keka-inc {
  font-size: 12px;
  padding-top: 20px;
}

a{
  text-decoration: none;
}